##
# This file is used in build phase after passing tests in Drone CI
##

# Ignore files which may accidentally be added into git
.idea
.DS_store
.vcs
.wp-cli
.mysql_history

# We don't need tests in passing builds
tests
phpcs.xml

# We don't need setup/test scripts anymore
scripts/code-style.sh
scripts/install.sh
scripts/test.sh

# No need to put other environments into production image
config/environments/testing.php
config/environments/development.php

# We don't need any docker related tmp files and directives anymore
image.tar
.docker
.drone.yml
.dockerignore
docker-compose.yml
Dockerfile

# Git is not needed after deploy
.git
.gitignore
*/.gitignore
*/*/.gitignore

.gitkeep
*/.gitkeep
*/*/.gitkeep
*/*/*/.gitkeep

# Ignore wp-core content
web/app/wp/wp-content/*

# Composer is not needed after the image is builded
composer.lock
composer.json

# Ignore composer installer helpers
vendor/composer/installers
vendor/johnpbloch/wordpress-core-installer
vendor/koodimonni/composer-dropin-installer

# Ignore dropin folders
vendor/koodimonni-language
vendor/devgeniem/better-wp-db-error

# Ignore Tests and meta files from composer packages
vendor/*/*/Tests
vendor/*/*/tests
vendor/*/*/.travis.yml
vendor/*/*/composer.json
vendor/*/*/phpunit.xml*
