# WP-CLI database dumps should not be tracked in git
*.sql

# Don't include whole svn repositories
.svn

# Custon environment variables may include passwords and other
# secrets and should not be tracked in git
.env
.env.*
!.env.example

##
# WP core
# - This is installed by Composer
##
web/wp
web/.htaccess

##
# WP Plugins
# - Don't track any plugins in git because we use composer
# - If you create custom plugins, force add them to git so they're tracked in git
##
web/app/plugins/*
!web/app/plugins/.gitkeep

##
# WP MU-Plugins
##
# Ignore folders in mu-plugins
web/app/mu-plugins/*
# Don't ignore .php files in mu-plugins
!web/app/mu-plugins/*.php
!web/app/mu-plugins/.gitkeep

##
# WP Dropins
# - Use devgeniem/better-wp-db-error for db-error.php page
# - Use devgeniem/better-wp-install-dropin for install.php
# - Use wpackagist-plugin/redis-cache for object-cache.php
##
web/app/db-error.php
web/app/install.php
web/app/object-cache.php

##
# WP Themes
# - Don't track themes which have packages
# - Prefer using child themes and use composer for parent theme
# - If you create custom themese, they are automatically tracked in git
##
web/app/themes/twenty*
!web/app/themes/.gitkeep

##
# Don't track languages
##
web/app/languages/*
!web/app/languages/.gitkeep

# WordPress content directories filled with user data
# not to be tracked in git
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# Libraries installed by Composer, Bower etc
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Development stuff from devgeniem/wordpress-server
.docker
.mysql_history
.wp-cli

# Don't include unison data sync tmp files
*.unison.tmp
