{% include search.html %}
<ul class="nav nav-list">
    <li class="nav-header">{{ site.name}}</li>
    <li class=>{{ label }}<a href="{{ site.baseurl }}">{{ site.frontpage.title }}</a></li>
    <li class="divider"></li>
    {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        {% for page in site.categories[attr] %}
            {% if page.published != false %}
                {% if forloop.first %}
                    <li class="nav-header">{{ label }}</li>
                {% endif %}
                <li data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
            {% endif%}
        {% endfor %}
        {% unless forloop.last %}
            <li class="divider"></li>
        {% endunless %}
    {% endfor %}
<!-- List additional links. It is recommended to add a divider
    e.g. <li class="divider"></li> first to break up the content. -->
</ul>
